[user]
	email = sherylann.wilthien@edu.devinci.fr
	name = sheesh3218
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
[pull]
	rebase = true
